/* You can add global styles to this file, and also import other style files */

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.grid-item{}

.grid-item1-6{
    grid-column: 1 / 6;
}

.grid-item2-6 {
  grid-column: 2 / 6;
}

.grid-item3-6 {
  grid-column: 3 / 6;
}

body{
  background: #34495e;
  font-family: 'Roboto';
  color: #ccc;
}